.venv/
__pycache__/
*.pyc
*.pyo
node_modules/
*.zip
*.bak
*.bozuk
.godot/
open-webui-data/
godmod3/
openhands/
.hebo-gateway*
.hebo/
.altyapi/
**/site-packages/
**/egg-info/
*.log
.env
.DS_Store
thumbs.db
Dashboard:
Server:
/tmp/
/altyapi/postgres_data/
/altyapi/mem0_data/
/altyapi/letta_data/
/__pycache__/
BettaFish-main/BettaFish-main/.venv_betta/
atom-gerçek/
**/.venv*/
omniRoute/
F5-TTS-main/
Qwen2.5-VL-main/
Qwen3-VL-main/
atom-main/
skyvern-mainls/
